<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmodule2">

    <application>
        <activity
            android:name="com.zcool.inkstone.app.InkstoneConfigActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.appmodule2.R" />
            </intent-filter>
        </activity>
    </application>
</manifest>
