<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmodule2">

    <application>
        <activity android:name="com.zcool.inkstone.app.InkstoneConfigActivity">
            <intent-filter>
                <action android:name="INKSTONE_MODULE_MANIFEST_PACKAGE:com.example.appmodule2" />
            </intent-filter>
        </activity>
    </application>
</manifest>
